body{
    padding: 0%;
    margin: 0%;
    background-image: url(./IMG_4145\ copy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.navbar{
    width: 100%;
    height: 60px;
    padding: 0%;
    margin: 0%;
    top: 0%;
    position: fixed;
    z-index: 999;
    background-color: rgb(24, 24, 24);
    align-content: center;
}
.navlog{
    height: 50px;
    filter: grayscale(0%);
    padding-left: 10px;
}
.wrap{
    padding: 10%;
    border: 0px;
}
h1{
    color: gold;
    font-size: x-large;
    font-weight: 900;
    font-size: 72px;
    text-align: center;
}
h2{
    color: gold;
}
li{
    float: right;
    align-self: center;
    align-content: center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    position: fixed;
    align-content: center;
    top: 10px;
    width: 100%;
    z-index: 1;
}
li a {
    display: block;
    color:gold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
li a:hover{
    background-color: gold;
    color: black;
}
.active{
    background-color: gold;
    color: black;
}
.maintxt{
    text-align: center;
    font-size: 24px;
}
p{
    color: white;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    justify-content: space-evenly;
    align-content: center;
}
.main_types:hover{

}
.main_types{
    text-align: center;
    width: 200px;
    height: 350px;
    padding: 20px;
    padding-top: 0%;
    float: none;
    align-items: start;
}
.Districts{
    text-align: center;
    width: 200px;
    height: 350px;
    padding: 20px;
    padding-top: 0%;
    float: none;
    align-items: start;
}
.dist{
    width: 200px;
    filter: grayscale(100%);
    border-radius: 30px;
}
.dist:hover{
    filter: grayscale(0%);
    border: 5px solid gold;
    border-radius: 30px;
}
#slot1{

}
#slot2{
    
}
#slot3{
    
}
#slot4{
    
}
.mpara{
    margin: auto;
}
.cardimg :hover{

}
.cardimg:hover{
    filter: grayscale(0%);
    border: 5px solid gold;
    border-radius: 30px;
}
.cardimg{
    width: 200px;
    filter: grayscale(100%);
    border-radius: 30px;
}
.mbutton{
    background-color: gold;
    border: 0px;
    color: black;
    font-weight: 900;
    border-radius: 10px;
}
.mbutton:hover{
    background-color: black;
    border: 3px solid gold;
    color: gold;
    font-weight: 900;
    border-radius: 10px;

}
.comments{
    padding: 10%;
    height: 300px;
    background-color: rgb(88, 88, 88);
    margin: 30px;
}
.snicon{
    width: 100px;
    padding-left: 4%;
}
.snicon:hover{
    filter: grayscale(100%);
}
.snic{
    

}
.footerarea{
    height: 200px;
    background-color: rgb(24, 24, 24);
}
.fttxt{
    text-align: center;
    padding-bottom: 0%;
    padding-top: 1%;
}